<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
         http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!--com.zhiyou100.app：表示所要运行类的的包名-->
    <context:component-scan base-package="com.zhiyou.video.app"></context:component-scan>
    <!--pool-size：表示线程池的个数有100-->
    <task:scheduler id="taskScheduler" pool-size="100"/>
    <task:scheduled-tasks scheduler="taskScheduler">
        <!--ref：表示定时调度的类注入到spring中的名字（首字母小写其余按照驼峰法命名）
            method：实际运行类中的方法
            cron：表示多久运行一次，* * * * * ?：表示每秒运行一次-->
        <task:scheduled ref="intelligence" method="autoUpdateRole" cron="* * * * * ?"/>
        <!--<task:scheduled ref="taskDemo" method="world" cron="* * * * * ?"/>-->
        <!--<task:scheduled ref="task" method="hello" cron="* * * * * ?"/>-->
        <!--<task:scheduled ref="task" method="word" cron="* * * * * ?"/>-->
    </task:scheduled-tasks>
</beans>